* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, #4B79A1, #283E51);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 400px;
}

.login-box {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.3);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.input-group {
    text-align: left;
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #777;
    border-radius: 8px;
    font-size: 15px;
}

.btn {
    width: 100%;
    padding: 12px;
    background: #283E51;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
}

.btn:hover {
    background: #4B79A1;
}

#message {
    margin-top: 15px;
    font-weight: bold;
}
